body {
  font-family: Google Sans, arial, sans-serif !important;
}

h1 {
  color: #2e5271;
  font-size: 30px;
  line-height: 26px;
  margin-bottom: 5px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin-top: 5px;
  color: #70757a;
  font-size: 14px;
  list-style: none;
  line-height: 1;
}

li::first-letter {
  text-transform: capitalize;
}
small {
  font-size: 12px;
}

.whole-app-wrap {
  max-width: 652px;
  margin: 30px auto;
}

.whole-app {
  padding: 30px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
.degree strong {
  color: #202124;
  display: inline-block;
  font-size: 48px;
  line-height: 64px;
  vertical-align: top;
}

.degree .units {
  position: relative;
  font-size: 16px;
  top: 10px;
}

.degree a {
  text-decoration: none;
  font-weight: bolder;
}

.code {
  text-decoration: none;
}

.weather-icon .active {
  color: #202124;
}

.weather-icon .active:hover {
  text-decoration: none;
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 16px;
  color: #6f6f71;
}

.weather-forecast-temperature {
  font-size: 13px;
  color: #202124;
  font-weight: bolder;
}

.weather-forecast-low {
  opacity: 0.6;
}
#icon {
  display: inline-block;
  height: 60px;
  margin-top: unset;
  vertical-align: top;
  width: 60px;
}
